#judul {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 35pt;
}

li {
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
    font-size: 12pt;
}

ul {
    font-family: 'Roboto', sans-serif;
    padding-left: 0;
}

#list {
    font-family: 'Roboto', sans-serif;
    float: left;
    display: block;
    padding: 12px;
}

i {
    font-size: 15pt;
}

#footlog {
    font-family: 'Roboto', sans-serif;
    float: left;
    display: block;
    padding: 20px;
}

.nav-link {
    font-family: 'Roboto', sans-serif;
    font-size: 11.7pt;
    font-weight: 500;
    color: black;
}

.box {
    font-family: 'Roboto', sans-serif;
    width: 950px;
    height: 70px;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 20px;
}

.box > i {
    font-family: 'Roboto', sans-serif;
    font-size: 16pt;
    color: rgb(182, 182, 182);
}

.box > input {
    font-family: 'Roboto', sans-serif;
    flex: 1;
    height: 60px;
    border: none;
    outline: none;
    font-size: 13pt;
    padding-left: 10px;
}

#nav {
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
}

#nav:hover {
    background-color: black;
    color: white;
    border-radius: 5px;
}

#alphabet > li {
    font-family: 'Roboto', sans-serif;
    float: left;
    padding: 2.75px;
}

.box1 {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(226, 226, 226);
    border-radius: 10px;
}
body {
    font-family: 'Roboto', Arial, Sans-serif;
    font-size: 15px;
    font-weight: 400;
}

input[type=text] {
    border: 2px solid #bdbdbd;
    font-family: 'Roboto', Arial, Sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding: .5em .75em;
    width: 300px;
}
input[type=text]:focus {
    border: 2px solid #757575;
    outline: none;
}
.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    overflow: auto;
}
.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}
.autocomplete-selected {
    background: #F0F0F0;
}
.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399FF;
}
.autocomplete-group {
    padding: 2px 5px;
}
.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}